.about__us__team {
  background-color: var(--about-us-team-bgcolor);
  padding: 100px 80px;
  font-family: "Crimson Text", serif;
}

.about__us__team__header {
  max-width: 600px;
  margin-bottom: 80px;
}

.about__us__team__label {
  display: block;
  font-size: 12px;
  margin-bottom: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.about__us__team__title {
  font-size: 34px;
  line-height: 40.8px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
  color: var(--about-us-team-title-color);
}

.about__us__team__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

@media (min-width: 1000px) {
  .about__us__team__list {
    grid-template-columns: 1fr 1fr;
  }
}


.about__us__team__member {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 440px;
  background-color: var(--about-us-team-member-color);
}

.about__us__team__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.about__us__team__image img {
  width: 100%;
  height: 440px;
  object-fit: cover;
  display: block;
  border-image-repeat: stretch;
  border-image-slice: 100%;
}


.about__us__team__content {
  padding: 40px 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__us__team__name {
  font-size: 26px;
  margin-bottom: 6px;
}

.about__us__team__position {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--about-us-team-position-color);
}

.about__us__team__responsibilities {
  font-size: 16px;
  line-height: 1.6;
  color: var(--about-us-team-responsibilities-color);
}
