@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playpen+Sans&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

:root {
  scroll-behavior: smooth;
  --bg-color: #f6f1ed;
  --icon-bg: #f2ebe1;
  --text-color: #433f35cc;
  --icon-color: #dfd1a7;
  --divider-color: #c0bfaa;
  --h-color: #515151;
  --big-title-color: #141414;
  --header-icon-color: #c0bfaa;
  --ui-btn-primary-bg-color: rgb(43, 43, 43);
  --ui-btn-primary-bg-color-hover: #000;
  --ui-btn-primary-color: #f6f1ed;
  --ui-button-font-family: "Red Hat Display", sans-serif;
  --ui-text-font-family: "Red Hat Display", sans-serif;
  --ui-big-title-font-family: "Crimson Text", serif;
  --ui-brand-color: #dfd1a7;
  --ui-light-shade-color: #f6f1ed;
  --ui-light-accent-color: #f2ebe1;
  --ui-dark-accent-color: #c0b184;
  --ui-small-color: #515151;
  --ui-price-color: #c0b184;
  --ui-link-color: #242424;
  --w-content-container-size: 1200px;
  --quote-icon-color: #cfc8b8;
  --quote-text-color: #333;
  --quote-author-color: #b5b09f;
  --additional-services-bg: #bfbfa9;
  --additional-services-link: #242424;
  --additional-services-hover: #8a7f5a;
  --benefits-bg: #f6f1ed;
  --benefits-label-color: #a0a0a0;
  --benefits-title-color: #141414;
  --benefits-number-color: #c0b184;
  --benefits-item-text-color: #433f35cc;
  --footer-background-color: #c0bfaa;
  --footer-text-color: #1414146e;
  --footer-li-color-hover: #000;
  --footer-input-color: #14141412;
  --footer-hr-color: #141414;
  --about-us-team-bgcolor: #f6eee3;
  --about-us-team-title-color: #141414;
  --about-us-team-member-color: #faf5ef;
  --about-us-team-position-color: #c0b184;
  --about-us-team-responsibilities-color: #818181;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.button {
  background-color: var(--ui-btn-primary-bg-color);
  color: var(--ui-btn-primary-color);
  font-family: var(--ui-button-font-family);
  padding: 15px 26px;
  overflow-wrap: break-word;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  display: inline-block;
  border: none;
  transition: background-color 0.3s ease-in;
}

.button:hover {
  background-color: var(--ui-btn-primary-bg-color-hover);
}
