/*body {
  background-color: #f7f4ef;
  font-family: serif;
}*/
.quote {
  max-width: 700px;
  margin: 120px auto;
  text-align: center;
}
.quote__icon {
  color: #cfc8b8;
  width: 40px;
  margin: 0 auto 30px;
}
.quote__text {
  font-size: 20px;
  font-style: italic;
  line-height: 1.7;
  color: #333;
}
.quote__author {
  display: block;
  margin-top: 25px;
  font-size: 14px;
  color: #b5b09f;
}
