.about-us {
  background-color: var(--ui-light-accent-color);
  text-align: center;
  padding: 120px 20px;

  .btn {
    margin-top: 20px;
  }
}
.about-us__label {
  color: var(--ui-small-color);
  font-size: 12px;
  margin-bottom: 20px;
}
.about-us__title {
  color: var(--big-title-color);
  font-size: 34px;
  margin-bottom: 20px;
}
.about-us__text {
  color: var(--text-color);
  font-size: 17px;
  line-height: 27.2px;
  max-width: 800px;
  margin: 0 auto;
}
