.header__hero {
  background-color: var(--primary-light-color);

  .header__container {
    padding: 120px 0 0;
    margin: 0;

    .header__text {
      color: var(--h-color);
      font-family: "Red Hat Display", sans-serif;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
    }
    .header__title {
      color: var(--big-title-color);
      font-family: "Crimson Text", serif;
      text-transform: uppercase;
      font-size: 60px;
      font-weight: normal;
      text-align: center;
      max-width: 770px;
      margin: 0 auto;
      line-height: 1.2;
      padding-bottom: 40px;
    }

    .header__subtitle {
      color: var(--text-color);
      font-family: "Red Hat Display", sans-serif;
      font-size: 19px;
      text-align: center;
      font-weight: 500;
      margin-bottom: 50px;
    }

    .header__background-container {
      background-image: url(../img/background_header.jpg);
      min-height: 500px;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      display: flex;
      justify-content: center;

      .header__cta-container {
        .header__cta {
          display: inline-block;
          width: 130px;
          height: 130px;
          justify-content: center;
          border-radius: 50%;
          display: inline-flex;
          align-items: center;
          background-color: var(--primary-light-color);
          color: var(--text-color);
          font-family: "Red Hat Display", sans-serif;
          text-align: center;
          margin: 250px auto;
        }
      }
    }
  }
}
