<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="shortcut icon" href="img/favicon-j.png" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/about-us.css" />
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.header-hero.partial.html"
      ></div>
    </header>
    <main class="main">
      <!--Buldiak Arsen Services block-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.services.partial.html"
      ></section>
      <!--Buldiak Arsen Services block-->
      <!--Buldiak Arsen CTA block-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="about-us.cta.partial.html"
      ></section>
      <!--Buldiak Arsen CTA block-->
    </main>
    <footer
      class="footer__section"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
  </body>
</html>
