<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interior Design</title>
    <link rel="shortcut icon" href="img/favicon-j.png" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/index.pic-block.partial.css" />
  </head>
  <body>
    <!--Liudmyla Palchynska-->
    <header class="header__nav"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></header>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></div>
    </header>
    <main class="main">
      <!--Kukharuk Inna-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.about-us.partial.html"
      ></section>
      <!--Kukharuk Inna-->
      <!--Molodychenko Olga неготовий-->
      <!-- <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.awards.partial.html"
      ></section> -->
      <!--Buldiak Arsen Our services block-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.our-services.partial.html"
      ></section>
      <!--Buldiak Arsen Our services block-->
      <!--Nazarenko Oleh Pic block-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.pic-block.partial.html"
        ></section>
      <!--Nazarenko Oleh Pic block-->
      <!-- Mariia Diachuk additional-services-->
      <section
        class="additional-services"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.additional-services.partial.html"
      ></section>
      <!-- Mariia Diachuk-->
      <!--Kukharuk Inna-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.projects.partial.html"
      ></section>
      <!--Kukharuk Inna-->
      <!--Buldiak Arsen CTA block-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.cta.partial.html"
      ></section>
      <!--Buldiak Arsen CTA block-->
      <!-- Mariia Diachuk benefits-->
      <section
        class="benefits"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.partial.html"
      ></section>
      <!-- Mariia Diachuk-->
      <!-- Mariia Diachuk quote-section-->
      <section
        class="quote-section"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.quote.partial.html"
      ></section>
      <!-- Mariia Diachuk-->
      <!-- Kurchyk Vladyslav Press about us -->
      <section
        class="press-about-us"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.press-about-us.partial.html"
      ></section>
      <!-- Kurchyk Vladyslav Press about us -->
      <!--Buldiak Arsen News block-->
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.news.partial.html"
      ></section>
      <!--Buldiak Arsen News block-->
    </main>
    <!-- Kurchyk Vladyslav Footer -->
    <footer
      class="footer"
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="global.footer.partial.html"
    ></footer>
    <!-- Kurchyk Vladyslav Footer -->
    <script src="js/index.projects.partial.js"></script>
    <script src="js/index.js"></script>
    <script src="js/index.pic-block.partial.js"></script>
  </body>
</html>
