<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interior Design</title>
    <link rel="shortcut icon" href="img/favicon-j.png" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <!--Liudmyla Palchynska-->
    <header class="header">
      <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-hero.partial.html"></div>
    </header>
    <main class="main">
      <!--Molodychenko Olga-->
      <section class="about-us" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.aboutUs.partial.html"></section>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.awards.partial.html"></div>
      <section class="projects" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.projects.partial.html"></section>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.main-cta.partial.html"></div>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.awards.partial.html"
      ></div>
      <!--Buldiak Arsen CTA block-->
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.cta.partial.html"
      ></div>
      <!--Buldiak Arsen CTA block-->
      <!--Buldiak Arsen Our services block-->
      <section 
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.our-services.partial.html"
      ></section>
      <!--Buldiak Arsen Our services block-->
      <!-- Mariia Diachuk additional-services-->
      <section
        class="additional-services"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.additional-services.partial.html">
      </section>
      <!-- Mariia Diachuk-->
      <!-- Mariia Diachuk benefits-->
       <section
        class="benefits"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.benefits.partial.html"
       ></section>
      <!-- Mariia Diachuk-->
      <!-- Mariia Diachuk quote-section-->
      <section
        class="quote-section"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.quote.partial.html"
       ></section>
      <!-- Mariia Diachuk-->
      <!-- Kurchyk Vladyslav -->
      <section class="press-about-us" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.pressAboutUs.partial.html"></section>
    </main>
    <!-- Kurchyk Vladyslav -->
    <footer class="footer" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.footer.partial.html"></footer>
  </body>
</html>
